/* Global Media Queries */
@media(max-width:1360px) {
    *{
        width: 100%;
      height: auto;
    }
    .img_about {
        width: 480px;
    }
    .blogs {
        width: 90%;
    }
    .heading_lg {
        font-size: 70px;
    }
}

/* iPhone SE Size */
@media(max-width:375px) and (max-height:667px){
   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
   body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
/*    h2.heading_skills{
      margin-top: 300px;
   }
   */
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }

   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* iPhone XR Size  */
@media(max-width:414px) and (max-height:896px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
   body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
       width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* iPhone 12 Pro Size */
@media(max-width:390px) and (max-height:844px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
  body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }

   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
       width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* iPhone 14 Pro Size */
@media(max-width:430px) and (max-height:932px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
     width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Pixel 7 Size */
@media(max-width:412px) and (max-height:915px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
  h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
     width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Samsung Galaxy S8 Size */
@media(max-width:360px) and (max-height:740px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Samsung Galaxy S20 Ultra Size */
@media(max-width:412px) and (max-height:915px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
   body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    }
   #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* iPad Mini Size */
@media(max-width:768px) and (max-height:1024px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
     width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* iPad Air Size */
@media(max-width:820px) and (max-height:1180px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
   body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Surface Pro 7  Size */
@media(max-width:912px) and (max-height:1368px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Surface Duo Size */
@media(max-width:540px) and (max-height:720px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
     width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Galaxy Z Fold 5 Size */
@media(max-width:344px) and (max-height:882px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
 body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Asus Zen book Size */
@media(max-width:853px) and (max-height:1280px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
     width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Samsung Galaxy A51/71 Size */
@media(max-width:412px) and (max-height:914px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
   body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
     width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Nest Hub Size */
@media(max-width:1024px) and (max-height:600px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
    body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}
/* Nest Hub Max Size */
@media(max-width:1280px) and (max-height:800px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
   body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }
   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
/*    #blogs.blogs{
      width: 100%;
      height: auto;
      margin-top: 100px;
   } */
}

@media(max-width:768px)
{
   .header,.about,.service,.certification,.project,.blogs{
      width: 768px;
   }
}

/* iPad Pro Size */
@media(max-width:1024px) and (max-height:1366px){

   #home.home{
      margin-top: 500px;
   }
   .social_links{width:15%; display: flex;
/*             justify-content: center; */
/*             align-items: center; */
                }
   .detail_container{width: 100%;margin-top:500px;}
 body{
      width: 100%;
      height: auto;
   }
   footer{
      width: 100%;
      height: auto;
      margin-top:2000px;
   }
   .clients{
      width: 100%;
   }
   h5.heading_details{width: 100%;}
   p.para_details{width: 100%;}
   .header{
     width: 100%;
      height: auto;
   }
   .about{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .service{
      width: 100%;
      height: auto;
      margin-top: 400px;
   }
   .certification{
      width: 100%;
      height: auto;
      margin-top: 700px;
   }
   .project{
      width: 100%;
      height: auto;
      margin-top: 500px;
   }
   .blogs{
      width: 100%;
      height: auto;
      margin-top: 2000px;
   }

   p.awards_intro{
      margin-right:250px;
   }
   .award_information{
      margin-top: 300px;
   }
   h3.heading_skills2{
      margin-top: 800px;
   }
/*    p.certificate_intro{
      margin-top: 300px;
   } */
   .certification_information{
      margin-top: 300px;
   }
   h2.heading_project{
      margin-top: 800px;
   }
   .projects_information{
      margin-top:1000px;
   }
   h2.heading{
    margin-top:1800px;  
   }
   .blogs_container{
      margin-top:1500px;
   }
   .img_about {
        width: 250px;
    }
    
/*    .img-blogs{
      width:320px;
      height:420px;
   } */
    .heading_lg {
        font-size: 70px;
    }

    .detail_container{
        position:absolute;
        left: 50%;
        bottom: -38px;
        top: 1000px;
        right: 50%;
        transform: translateX(-50%);
        /* transform: translateY(-50%); */
        border-radius: 300px;
        border: 1px solid #dee2e6;
        box-shadow: 0px 0px 30px rgb(173,181,189/40%);
        
        width: 660px;
        height: 110px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .home_container{
        width: 100%;
        height:50%;
        display: flex;
        text-align: justify; /* Horizontally center the text */
        justify-content: center;
        align-items: center;
    }
    .img_home{
        margin-left: 30px;
        margin-top:10px;
        width: 450px;
        height: 600px;
    }
    .certification{
        width: 90%;
        height: 70%;
        margin-top: 100px;
        margin-left: 50px;
     }

}

@media(max-width: 992px) {
    .navbar-toggler {
        background-color: white !important;
        border: none;
    }
    .img_home {
        display: none;
    }
    .heading_lg {
        font-size: 94px;
    }
    .heading_lg, .heading_sm, .heading_md, .social_links, .links_home {
        text-align: center;
    }
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-nav .nav-item {
        margin: 6px 0;
    }
    .detail_container {
        width: 560px;
        height: 90px;
        bottom: -24px;
    }
    .row_second {
        display: none;
    }
    .service {
        width: 100%;
        height: auto;
    }
    .blogs {
        width: 80%;
        margin: auto;
    }
}

@media(max-width: 768px) {
    .heading-lg {
        font-size: 66px;
    }
    .detail_container {
        width: 460px;
        height: 80px;
        bottom: -18px;
    }
    .heading_details {
        font-size: 20px;
    }
    .about {
        width: 100%;
        padding: 30px 0;
    }
    .img_about {
        margin: 22px 0;
    }
    .service_container {
        padding: 7px 0;
    }
    .heading_text {
        text-align: center;
    }
    .content_skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_blog {
        background-color: white;
        width: 100%;
        height: 450px;
    }
    .img_blogs {
        width: 100%;
        height: 250px;
    }
}

@media(max-width: 576px) {
    .detail_container {
        width: 380px;
        height: 90px;
        bottom: -24px;
    }
    .heading_details {
        font-size: 16px;
    }
    .para_details {
        font-size: 11px;
    }
}


