/* Global Media Queries */
@media(max-width:1360px) {
    .img_about {
        width: 480px;
    }
    .blogs {
        width: 90%;
    }
    .heading_lg {
        font-size: 70px;
    }
}

@media(max-width:1024px) {
    .img_about {
        width: 250px;
    }
    .blogs {
        width: 90%;
    }
    .heading_lg {
        font-size: 70px;
    }

    .detail_container{
        position:absolute;
        left: 50%;
        bottom: -38px;
        top: 1000px;
        right: 50%;
        transform: translateX(-50%);
        /* transform: translateY(-50%); */
        border-radius: 300px;
        border: 1px solid #dee2e6;
        box-shadow: 0px 0px 30px rgb(173,181,189/40%);
        
        width: 660px;
        height: 110px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .home_container{
        width: 100%;
        height:50%;
        display: flex;
        text-align: justify; /* Horizontally center the text */
        justify-content: center;
        align-items: center;
    }
    .img_home{
        margin-left: 30px;
        margin-top:10px;
        width: 450px;
        height: 600px;
    }
    .certification{
        width: 90%;
        height: 70%;
        margin-top: 100px;
        margin-left: 50px;
     }

}

@media(max-width: 992px) {
    .navbar-toggler {
        background-color: white !important;
        border: none;
    }
    .img_home {
        display: none;
    }
    .heading_lg {
        font-size: 94px;
    }
    .heading_lg, .heading_sm, .heading_md, .social_links, .links_home {
        text-align: center;
    }
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-nav .nav-item {
        margin: 6px 0;
    }
    .detail_container {
        width: 560px;
        height: 90px;
        bottom: -24px;
    }
    .row_second {
        display: none;
    }
    .service {
        width: 100%;
        height: auto;
    }
    .blogs {
        width: 80%;
        margin: auto;
    }
}

@media(max-width: 768px) {
    .heading-lg {
        font-size: 66px;
    }
    .detail_container {
        width: 460px;
        height: 80px;
        bottom: -18px;
    }
    .heading_details {
        font-size: 20px;
    }
    .about {
        width: 100%;
        padding: 30px 0;
    }
    .img_about {
        margin: 22px 0;
    }
    .service_container {
        padding: 7px 0;
    }
    .heading_text {
        text-align: center;
    }
    .content_skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_blog {
        background-color: white;
        width: 100%;
        height: 450px;
    }
    .img_blogs {
        width: 100%;
        height: 250px;
    }
}

@media(max-width: 576px) {
    .detail_container {
        width: 380px;
        height: 90px;
        bottom: -24px;
    }
    .heading_details {
        font-size: 16px;
    }
    .para_details {
        font-size: 11px;
    }
}
/* Media query for screens smaller than 768px */ @media (max-width: 430px, max-height:940px)
{
	.header {
	width: 100%;
	height: 800vh;
	}
	
}

